{% extends "portfolio/base.html" %}

{% block title %}Crypto Simulator{% endblock %}


{% block content %}
    <div class="table-responsive">
        <table class="table table-striped table-dark">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Symbol</th>
                <th scope="col">Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
              </tr>
            </thead>
            
            <tbody>
            {% for asset in asset_list %}
              <tr>
                  <th scope="row"></th>
                  <th>{{ asset.coin.symbol }}</th>
                  <td>{{ asset.coin.name }}</td>
                  <td>{{ asset.quantity | floatformat:4 }}</td>
                  <td>{{ asset.price }}</td>
              </tr>
            {% empty %}
              <tr>
                <th scope="row"></th>
                <td>No assets</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
    </div>
{% endblock %}